.header {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  background: var(--gray-color, #f2f2f2);
}

.header h2 {
  width: 100%;
}

.modalContent {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.modalContentHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.modalContentHeaderLine {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modalContentHeaderIcon {
  height: 28px;
  width: 28px;
  aspect-ratio: 1/1;
  color: var(--blue-color);
}

.modalContentHeaderTitle {
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--blue-color);
}

.modalContentHeaderDescriptionContainer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.modalContentHeaderRightSide {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  align-self: stretch;
}

.modalContentHeaderDescription {
  flex: 1 0 0;
  width: 700px;
  font-family: var(--font-display);
}

.modalContentProjectLocationsContainer {
  width: 100%;
  align-self: stretch;
}

.modalContentHeaderText {
  font-weight: 700;
}

.agenciesContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pill {
  background-color: var(--secondary-gray-color, #808183);
  color: var(--white-color);
  font-weight: 700;
}

.agencyText {
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--blue-color);
}

.pillContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.contentContainer {
  width: 100%;
}

.mapContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  height: 387.779px;
  align-self: stretch;

  /* SHADOW */
  box-shadow: 4px 4px 10px 0px rgb(0 0 0 / 0.2);
}

@media screen and (max-width: 768px) {
  .modalContent {
    padding: 20px 4px;
    gap: 20px;
  }

  .title {
    font-size: 0.875rem;
  }

  .modalContentHeader {
    gap: 5px;
  }

  .modalContentHeaderTitle {
    font-size: 1.125rem;
  }

  .modalContentHeaderDescription {
    width: 100%;
    font-size: 0.75rem;
  }

  .modalContentProjectLocationsContainer {
    width: 100%;
  }

  .modalContentHeaderText {
    font-size: 0.75rem;
  }

  .projectsTableHeader {
    display: none;
  }

  .modalContentHeaderRightSide {
    display: none;
  }

  .agenciesContainer {
    display: flex;
    align-items: center;
  }

  .agenciesText {
    font-size: 0.625rem;
    font-weight: 700;
  }
}
